.hero-mesh {
    background: url("https://www.thetakeout.com/img/gallery/fast-food-chains-that-serve-the-highest-and-lowest-quality-french-fries/l-intro-1731698603.jpg");
    background-position: center;
    background-size: cover;
}